<?xml version="1.0" encoding="utf-8"?>
<!--
このファイルは、Web プロジェクトの発行/パッケージ処理で使用されます。この MSBuild ファイルを編集することによって、
この処理の動作をカスタマイズできます。詳細については、http://go.microsoft.com/fwlink/?LinkID=208121 を参照してください。
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <publishUrl>C:\Work\人事情報DB\WebAPI仕様書\get_user_info\getUserInfo\out</publishUrl>
    <DeleteExistingFiles>False</DeleteExistingFiles>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)JINJIConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=WIN-E4M4TCQI61S;Initial Catalog=JINJI;Persist Security Info=True;User ID=sa;Password=sa;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)JINJIContainer-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.JINJI.csdl|res://*/Models.JINJI.ssdl|res://*/Models.JINJI.msl;provider=System.Data.SqlClient;provider connection string="Data Source=WIN-E4M4TCQI61S;Initial Catalog=JINJI;Persist Security Info=True;User ID=sa;Password=sa;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)JINJIEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.JINJI.csdl|res://*/Models.JINJI.ssdl|res://*/Models.JINJI.msl;provider=System.Data.SqlClient;provider connection string="data source=WIN-E4M4TCQI61S;initial catalog=JINJI;persist security info=True;user id=sa;password=sa;multipleactiveresultsets=True;application name=EntityFramework;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)JINJIEntities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.JINJI.csdl|res://*/Models.JINJI.ssdl|res://*/Models.JINJI.msl;provider=System.Data.SqlClient;provider connection string="Data Source=WIN-E4M4TCQI61S;Initial Catalog=JINJI;Persist Security Info=True;User ID=sa;Password=sa;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)JINJIEntities2-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>